In [21]:
import pandas as pd
import numpy as np

## Core And Reduct

In [22]:
def indiscrenibility(df):
  df_r = df.groupby(list(df)).apply(lambda x: tuple(x.index)).tolist()
  df_baru=[]
  for i in df_r:
    dfb=list(i)
    df_baru.append(dfb)
  return df_baru

In [23]:
data = pd.read_excel("modifiedhaberman.xlsx")
data.head()

   usia  jenis  sel  kelas
0    34     59    0      1
1    34     66    9      1
2    38     69   21      1
3    39     66    0      1
4    41     60   23      1

In [24]:
kolom=list(data.columns)
kolom

['usia', 'jenis', 'sel', 'kelas']

In [25]:
R=indiscrenibility(data)

In [26]:
def Core_and_Reduct(df):
  R=indiscrenibility(df)
  kolom=list(df.columns)
  indis_vector=[]
  for k in kolom:
    k=str(k)
    df2=df.drop(columns=[k])
    K=indiscrenibility(df2)
    if (K==R):
      indis=True
      indis_vector.append(indis)
    else:
      indis=False
      indis_vector.append(indis)
  indeks = []
  for i in range(len(indis_vector)):
    if indis_vector[i] == False:
      indeks.append(i)
  indis_var = [kolom[i] for i in indeks] 
  df_CR=df[indis_var]
  return df_CR

In [27]:
Core_and_Reduct(data)

     usia  jenis  sel  kelas
0      34     59    0      1
1      34     66    9      1
2      38     69   21      1
3      39     66    0      1
4      41     60   23      1
..    ...    ...  ...    ...
301    73     68    0     -1
302    74     63    0     -1
303    75     62    1     -1
304    76     67    0     -1
305    77     65    3     -1

[306 rows x 4 columns]